# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
# Assignment 1: Creating and Accessing Sets
# Create a set with the first 10 positive integers. Print the set.
s=set(range(1,11))
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
# Assignment 2: Adding and Removing Elements
# Add the number 11 to the set created in Assignment 1.
# Then remove the number 1 from the set. Print the modified set.
s.add(11)
s.discard(1)
s

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [6]:
# Assignment 3: Set Operations
# Create two sets: one with the first 5 positive integers and
# another with the first 5 even integers. Perform and print the
# results of union, intersection, difference, and symmetric 
# difference operations on these sets.
s1=set(range(1,6))
s2={2,4,6,8,10}
un=s1.union(s2)
ins=s1.intersection(s2)
diff=s1.difference(s2)
sym=s1.symmetric_difference(s2)
print(un,ins,diff,sym)

{1, 2, 3, 4, 5, 6, 8, 10} {2, 4} {1, 3, 5} {1, 3, 5, 6, 8, 10}

In [8]:
# Assignment 4: Set Comprehensions
# Create a new set containing the squares of the first 10 positive integers 
# using a set comprehension. Print the new set.
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [9]:
# Assignment 5: Filtering Sets
# Create a new set containing only the even numbers from the set created in 
# Assignment 1 using a set comprehension. Print the new set.

evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [11]:
# Assignment 6: Set Methods
# Create a set with duplicate elements and remove 
# the duplicates using set methods. Print the modified set.
s={3,4,5,5,4,3,22,6,876,4,5}
unique_s = set(s)
print(unique_s)

{3, 4, 5, 6, 22, 876}

In [15]:
# Assignment 7: Subsets and Supersets
# Create two sets: one with the first 5 positive integers and another 
# with the first 3 positive integers. Check if the second set 
# is a subset of the first set and
# if the first set is a superset of the second set. Print the results.
s1={1,2,3,4,5}
s2={1,2,3}
ss=s2.issubset(s1)
print("second set is a subset of the first set :",ss)
Ss=s1.issuperset(s2)
print("first set is a superset of the second set:",Ss)

second set is a subset of the first set : True
first set is a superset of the second set: True

In [16]:
# Assignment 8: Frozenset
# Create a frozenset with the first 5 positive integers.
# Print the frozenset.
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [17]:
# Assignment 9: Set and List Conversion
# Create a set with the first 5 positive integers. Convert it to a list,
# append the number 6, and convert it back to a set. Print the resulting set.
s=set(range(1,6))
ls=list(s)
ls.append(6)
s=set(ls)
print(s)

{1, 2, 3, 4, 5, 6}

In [19]:
# Assignment 10: Set and Dictionary
# Create a dictionary with set keys and integer values. Print the dictionary.
dct = {frozenset({3, 4}): [4], frozenset({5, 6}): [5]}
dct

{frozenset({3, 4}): [4], frozenset({5, 6}): [5]}

In [23]:
# Assignment 11: Iterating Over Sets
# Create a set and iterate over the elements, printing each element.
s=set(range(1,8))
for item in s:
    print(item,end="\n")

1
2
3
4
5
6
7

In [27]:
# Assignment 12: Removing Elements from Sets
# Create a set and remove elements from it until it is empty. Print the set after each removal.
s=set(range(1,8))
while s:
    item=s.pop()
    print(item)
print(s)

1
2
3
4
5
6
7
set()

In [28]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [32]:
# Assignment 14: Set Membership Testing
# Create a set and test if certain elements are present in the set. Print the results.
s=set(range(3,9))
print("3 belongs to set:",3 in s)
print("0 belongs to set:",0 in s)
print("8 belongs to set:",8 in s)

3 belongs to set: True
0 belongs to set: False
8 belongs to set: True

In [34]:
# Assignment 15: Set of Tuples
# Create a set containing tuples, where each tuple contains two elements. Print the set.

s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}